.listSoal{
    border-bottom:1px solid rgba(204, 203, 203, 0.788235294117647);    
    line-height: 1.4;
    margin-bottom: 5px;
    text-align: justify;
    background: rgba(236, 236, 236, 0.6196078431372549);
    padding: 8px;
    /* border-radius: 10px; */
}
.searchSoal{
    padding: 7px;
    width: 30%;
    margin-left: 5px;
    color: grey;
}
ul{
    line-height: 1;
    list-style-type: lower-latin;
    /* margin-left: -10px;
    margin-left: 0px; */
    background: rgba(255, 255, 255, 0.57);
    /* border: 3px inset #d8d8d829; */
    padding-right: 25px;
    margin: -20px 0px 5px;
    padding-top: 12px;
}
li{
    margin-top: -15px;

}

.pilihSoal[type = checkbox]{
    display: none;
}

.labelSoal{
    display: block;
    cursor: pointer;
    padding: 10px;
    transition: all 300ms;
    margin: -25px 0px 5px;
}

input:checked + .labelSoal{
    background-color: rgba(173, 164, 94, 0.34);
    /* border-radius: 8px; */
    padding: 1px 15px;
    margin: 1px 0px 25px;
}
.labelEdit{
    background-color: rgba(173, 164, 94, 0.34);
}
.labelSimpan{
    background-color: white !important;
}

/* .user h3{
    position: fixed;
    width: 92.3%;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    margin-top:-45px; 
    z-index: 99;
} */

/* .container{
    padding-top:145px;
} */

.noUrut{
    /* position: absolute;
    background-color: rgba(131, 131, 132, 0.88);
    padding: 12px;
    color: white;
    font-size: 16pt;
    border-radius: 10px;
    right: 38px;
    width: fit-content;
    margin-top: -45px; */
    background-color: rgba(52, 199, 208, 0.88);
    padding: 12px;
    color: white;
    font-size: 16pt;
    float: right;
    margin-top: -80px;
}

h3 .tombol{
    position: absolute !important;
    padding: 10px 6px !important;
    right: 49px !important;
    top: 66px !important;
}

.jenjang{
    /* margin-left: 50px;
    background: rgb(74, 115, 99);
    float: right;
    margin-right: 185px; */
    font-size: 11pt;
    /* margin-top: 3px; */
}
.jenjang label{
    margin: 1px;
    cursor: pointer;
    background: rgb(64, 68, 82);
    padding: 10px 27px;
    color: rgb(105, 103, 103);
    transition: all 300ms;
}
input[type=radio]{
    display: none;
}

.jenjang input:checked + label{
    background: rgb(255, 17, 17);
    color: white;
    box-shadow: 0px 0px 6px 1px rgb(247, 68, 35);
}
.kelas{
    /* position: absolute;
    padding: 8px;
    top: 41px;
    right: 128px; */
    box-shadow: 0px 0px 3px -1px black;
    font-size: 11pt;
}
.kelas span label{
    padding: 7px 25px;
    cursor: pointer;
    /* background: #cccccc; */
    margin: 1px;
    color: rgb(140, 140, 140);
    transition: all 400ms;
}

.kelas span input:checked + label{
    background: red;
    color: white;
    box-shadow: 0px 0px 4px 0px rgb(134, 134, 134);
}

.mapel{
    background: white;
    padding: 9px;
    color: #000000;
    font-size: 12pt;

}
.not{
    font-size: 40px;
    text-align: center;
    display: block;
    padding-top: 100px;
    font-style: italic;
    color: grey;
}
.filter{
    position: absolute;
    display: grid;
    line-height: 2.8;
    /* left: 223px; */
    margin-left: 130px;
    background: rgb(232, 232, 232);
    padding: 11px;
    top: 108px;
    box-shadow: 2px 0px 5px -1px black;
}
.footerSoal{
    background:rgb(165, 165, 165);
    padding: 2px 20px;
    border-radius: 10px;
    color: white;
    font-size: 9pt;
    cursor: pointer;
}

.IsiSoal{
    /* height: 83vh; */
    height: 78vh;
    overflow-y: auto;
    overflow-x: hidden;
}